<a href="/dashboard"> &larr; Black</a>
<div class="admin-title">
    <h2> View/Edit the Post </h2>
    <form action="/delete-post/<%= data._id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" class="btn btn-delete rig_btn">
    </form>
</div>
<form action="/edit-post/<%= data._id %>?_method=PUT" method="POST">

    <label for="title"><b>Title</b></label>
    <input type="text" placeholder="Enter Post title" name="title" value="<%= data.title %>">

    <label for="body"><b>Content</b></label>
    <textarea name="body" id="" cols="50" rows="10" placeholder="start Writing your post" ><%= data.body %></textarea>
    <input type="submit" value="update" class="btn"  >


</form>