<h2>Sign in</h2>
<form action="/admin" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Enter username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"  placeholder="Enter password">
    <br>
    <button type="submit" value="login" class="btn">Sign In</button>
</form>

<!-- <h2>Register</h2>
<form action="/register" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Enter username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"  placeholder="Enter password">
    <br>
    <button type="submit" value="login" class="btn">Register</button>
</form> -->