<header class="header">
    <a href="/dashboard" class="header_logo">Admin Dashboard</a>
    <div class="header_Button">
        <button>
            logout
            <i class="fas fa-sign-out-alt"></i>
        </button>
    </div>
</header>