<header class="header">
    <a href="/dashboard" class="header_logo">Admin Dashboard</a>
    <div class="header_Button">
        <a href="/logout"> <Button> logout
                <i class="fas fa-sign-out-alt"></i>
            </Button></a>
    </div>
</header>