<header class="header">
    <a href="/" class="header_logo">Admin Dashboard</a>
    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="<%= currentPath === '/' ? 'active' : '' %>">Home</a>
            </li>
            <li>
                <a href="/about?status=test" class="<%= currentPath === '/about' ? 'active' : '' %>">About</a>
            </li>
            <li>
                <a href="/contact" class="<%= currentPath === '/contact' ? 'active' : '' %>">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="header_Button">
        <button>
            logout
            <i class="fas fa-sign-out-alt"></i>
        </button>
    </div>
</header>