<h1>About us</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quia beatae hic ut illo, quos consequatur rem quisquam impedit quae, iste culpa, vel adipisci? Sint facilis dolore quas reiciendis nostrum!</p>

<img src="/images/website.png" alt="">

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quia beatae hic ut illo, quos consequatur rem quisquam impedit quae, iste culpa, vel adipisci? Sint facilis dolore quas reiciendis nostrum!</p>
<img src="/images/hero_img.jpg" alt="this image" height="200px" width="30px">
