@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --black: #1c1c1c;
    --gray: #7e7e7e;
    --gray-light: #e4e4e4;
    --red: #b30000;
    --font-size-base: 1rem;
    --border-radius: 10px;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--black);
    font-size: var(--font-size-base);
    background-color: #FAF5EE;
    /* background-image: url(/images/bg_img.jpg); */
    margin: 0px;
}
a{
    color: var(--black);
}
input[type=text],
input[type=email],
input[type=password],
input[type=search],
select,
textarea {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-base);
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.7rem 0.75rem;
    margin-bottom: 1rem;
}

.btn {
    background-color: var(--black);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-delete {
    padding: 10px 16px;
    background-color: var(--red);
}

img {
    width: 100%;
    height: auto;
}

/* layout */
.container {
    max-width: 982px;
    margin: 0 auto;
    padding: 0 10px;
}

.main {
    padding: 20px 0px;
}

.hero_img {
    max-height: 528px;
    filter: drop-shadow(0 44px 34px rgba(0, 0, 0, 0.25));
    overflow: hidden;
    border-radius: var(--border-radius);
}

/* Main header */
.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 10px;
    grid-template-areas:
        "logo button"
        "menu menu"
    ;
}

/*  Responsive Header */
@media only screen and (min-width:768px) {
    .header {
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
            "logo menu button";
    }

}

.header_logo {
    grid-area: logo;
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
}

.header_logo:hover {
    text-decoration: underline;
}

.header_nav {
    grid-area: menu;
    display: flex;
    justify-content: center;
}

.header_Button {
    grid-area: button;
    display: flex;
    justify-content: end;
}

/* Header Search Button */
.header_Button button {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    border: 0;
    padding: 6px 12px;
    background: none;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    font-size: var(--font-size-base);
    font-weight: 600;
    color: var(--black);
    cursor: pointer;
}

.header_Button button:hover {
    border: 2px solid var(--black);
}

/* Header Navigation Links */
.header_nav ul {
    display: flex;
    gap: 1rem;
    font-weight: 600;
    list-style-type: none;
   
}

.header_nav ul a {
    padding: 10px;
    text-decoration: none;
}
.header_nav ul a:active {
    color: var(--red);
}
.active{
    background-color: var(--black);
    border-radius: 10px;
    color: white;
}